@import url(//fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap);
@import url(//fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap);

*{
    color: #661A00;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}

/*header*/

.header{
    height: 100px;
    background-color: #8DC63F;
    display: flex;
    align-items: center;
    gap:30px;
    padding: 0 60px;
    flex-shrink: 0;
}
.header--admin{
    background-color: #D0803D;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    align-items: center;
    gap:20px;
}
.header__img{
    display: block;
    width: auto;
    height: 80px;
}
.header__title{
    font-size: 48px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}
.header__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header__nav--admin{
    justify-content: flex-start;
    gap:20px;
}
.header__item{
    display: flex;
    gap:20px;
}

/*error*/
.error-content{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    padding: 60px 100px;
    background-color: #D0803D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}
.error p{
    color: #F2F2F2;
}
/*buttons*/

.menu-btn{
    display: block;
    min-width: 70px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    color: #F2F2F2;
    background-color: #F99B1C;
    border: 3px solid #F99B1C;
}
.menu-btn--dark{
    background-color: #661A00;
    border-color: #661A00;
}
.menu-btn--yes{
    background-color: #8DC63F;
    border-color: #8DC63F;
}
.menu-btn--no{
    background-color: #ED193E;
    border-color: #ED193E;
}
.menu-link{
    display: block;
    min-width: 70px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #F2F2F2;
}
.menu-btn--fit{
    width: fit-content;
    height: fit-content;
}

/*content*/

.content{
    padding: 0 60px 30px;
}

/*title*/

.title{
    text-align: center;
    margin: 20px 0;
}
.title--desc{
    text-align: left;
}
.title__text{
    font-family: 'Amatic SC', cursive;
    font-size: 56px;
    font-weight: 700;
}
.title__text--small{
    font-size: 36px;
    font-weight: 500;
}
.title__desc{
    font-size: 24px;
    font-weight: 300;
}

/*products*/

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}
.card-product{
    width: 250px;
    height: 300px;
    background-color: #F2F2F2;
    border: 3px solid #D0803D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card-product--admin{
    height: 350px;
}

.card-product__name{
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
    font-weight: 700;
}
.card-product__descr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
}
.card-product__text{
    font-size: 20px;
    font-weight: 400;
}
.card-product__price{
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    font-weight: 700;
}
.card-product__link{
    display: block;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #F99B1C;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #F2F2F2;
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    font-weight: 700;
}
.card-product__btn{
    padding: 5px 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #F2F2F2;
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    font-weight: 700;
}

/*product-info*/

.product-info__title{
    align-items: center;
    padding: 10px 0;
}
.product-info__title-text{
    font-family: 'Amatic SC', cursive;
    font-size: 56px;
    font-weight: 700;
}
.product-info__info{
    display: grid;
    grid-template-columns: 170px 1fr;
    align-items: center;
}
.product-info__info-title{
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    font-weight: 700;
}
.product-info__info-desc{
    font-size: 24px;
    font-weight: 300;
}
.product-info__desc{
    padding: 10px 0;
}
.product-content{
    display: flex;
    gap: 20px;
    align-items: center;
}

/*profile*/

.profile{
    display: grid;
    grid-template-columns: 1fr 40%;
    gap:20px;
}
.profile__info{
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}
.profile__btn{
    display: flex;
    gap:20px;
    height: 50px;
}
.profile__title{
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    font-weight: 700;
}
.profile__text{
    font-size: 24px;
    font-weight: 300;
}

/*form*/

.form{
    margin: auto;
    max-width: 600px;
    min-height: 200px;
    background-color: #D0803D;
    border-radius: 20px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.form__input{
    border: 2px solid #661A00;
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 10px;
    width: 80%;
}
.form__link{
    font-size: 18px;
    font-weight: 600;
    color: #F2F2F2;
}
.form__btn{
    min-width: 70px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
}
.form__text{
    display: block;
    width: 80%;
    text-align: left;
    font-size: 18px;
    color: #F2F2F2;
    font-weight: 600;
}

/*products-form*/

.products-form{
    display: grid;
    width: 100%;
    margin: 20px 0;
    grid-template-columns: 1fr 25%;
    gap: 40px;
}
.products-form__search{
    display:grid;
    grid-template-columns: 1fr 120px;
    gap: 5px 10px;
}
.products-form__input{
    font-size: 20px;
    width: 100%;
}
.products-form__count{
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 5px 10px;
}
.products-form__select{
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border: none;
}
.products-form__select option{
    border: none;
}
.products-form__btn{
    font-size: 18px;
}

/*pag*/

.pag {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.pag__item{
    display: inline;
    background-color: #F2F2F2;
    margin: 5px;
    border-radius: 10px;
}
.pag__link{
    float: left;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
}
.pag__link:hover{
    background-color:#F99B1C;
    border-radius: 10px;
}

/*admin-form*/

.admin-form{
    display: grid;
    width: auto;
    grid-template-columns:1fr 100px 220px;
    margin: 10px 0;
    gap: 10px;
}
.admin-form--people{
    grid-template-columns:1fr 100px;
}

.admin-form__input{
    height: 100%;
    border-radius: 20px;
    border: 2px solid #661A00;
    background-color:#F2F2F2;
    padding-left: 20px;
    font-size: 20px;
    align-items: center;
}
.admin-form__link{
    justify-self: flex-end;
}

/*footer*/

.footer{
    flex-shrink: 0;
    background-color: #661A00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.footer--admin{
    justify-content: flex-end;
}
.footer__item{
    min-width: 500px;
}
.footer__item--left{
    text-align: left;
}
.footer__item--right{
    text-align: right;
}
.footer__text{
    font-size: 16px;
    color: #F2F2F2;
}

/*table*/

.table{
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
}
.table th{
    padding:10px;
    background-color: #74A734;
    color:#F2F2F2;
}
.table tr:nth-child(odd){
    background-color: #F2F2F2;
}
.table td{
    text-align: center;
    vertical-align: center;
    border-spacing: 10px 30px;
    height: 40px;
    word-break: break-all;
}
.table .menu-btn{
    margin: auto;
    padding: 5px 10px;
}