<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/styles.css" />
</head>
<body>
    <main class="error-content" >
        <div class="error">
            <p class="title__text">Ошибка 403! У вас нет права доступа!</p>
            <a class="menu-btn menu-btn--yes menu-btn--fit" href="/index">На главную</a>
        </div>
    </main>
</body>
</html>