<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/styles.css" />
</head>
<body>
    <header class="header">
        <a class="header__logo" href="/index">
            <img class="header__img" th:src="@{/logo.png}">
            <p class="header__title">Зоомагазин</p>
        </a>
        <nav class="header__nav">
            <div class="header__item">
                <a class="menu-btn" href="/products">Товары</a>
            </div>
            <div class="header__item">
                <a th:if="${isAuthorised}" class="menu-link" href="/profile/liked_products">Понравившееся товары</a>
                <a th:if="${isAuthorised}" class="menu-btn menu-btn--dark" href="/profile">Профиль</a>
                <a th:unless="${isAuthorised}" class="menu-link" href="/auth/registration" >Регистрация</a>
                <a th:unless="${isAuthorised}" class="menu-btn menu-btn--dark" href="/login">Войти</a>
            </div>
        </nav>
    </header>
    <main class="content">
        <div class="title">
            <p class="title__text">Вход</p>
        </div>
        <form class="form" th:method="POST" th:action="@{/process_login}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input class="form__input" type="text" name="username" placeholder="Введите почту:">
            <input class="form__input" type="password" name="password" placeholder="Введите пароль:">
            <div><p th:if="${param.error}" style="color: red">Неверный логин или пароль</p></div>
            <input class="menu-btn form__btn" type="submit" value="Войти">
            <a class="form__link" href="/auth/registration">Впервые здесь?</a>
        </form>
    </main>
    <footer class="footer">
        <div class="footer__item footer__item--left">
            <p class="footer__text">+7 (9999) 99-99-99</p>
            <p class="footer__text">store-pet@mail.ru</p>
            <p class="footer__text">пн. – пт.: 09:00 – 21:00</p>
            <p class="footer__text">сб. – вс.: 10:00 – 20:00</p>
        </div>
        <div class="footer__item footer__item--right">
            <p class="footer__text">©РТУ МИРЭА ИКБО-01-21 Булгакова У.И.</p>
        </div>
    </footer>
</body>
</html>